{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120
      }
    ],
    "max-len": "off"
  }
}
