body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  font-size: 19.3px;
  display: flex;
  justify-content: center;
  padding: 1em;
  color: #444;
}

h1,
h2 {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #444;
}

ul,
ol {
  list-style-type: circle;
}

p {
  line-height: 1.5em;
  text-align: justify;
}
